@import 'typographie.scss';
@import '../abstracts/themes.scss';

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;

    .full-screen {
        height: 100vh;
        width: 100vw;
    }

    #app #pages {
        width: 100%;
        padding: 2rem;

        #pages-content {
            max-width: $viewport;
            margin: auto;
        }
    }

    .dark-theme {
        background: map-get($dark, 'MainBackground');
    }

    .light-theme {
        background: map-get($light, 'MainBackground');
    }

    .paper-theme {
        background: map-get($paper, 'MainBackground');
    }

    .night-theme {
        background: map-get($night, 'MainBackground');
    }

    .eclipse-theme {
        background: map-get($eclipse, 'MainBackground');
    }

    .power-theme {
        background: map-get($power, 'MainBackground');
    }

    .future-theme {
        background: map-get($future, 'MainBackground');
    }

    .retro-theme {
        background: map-get($retro, 'MainBackground');
    }

    .joy-theme {
        background: map-get($joy, 'MainBackground');
    }
}