@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '../abstracts/mixins.scss';
@import '../abstracts/themes.scss';

h1, h2, h3, h4, h5, h6, p, a, label, span, button, input {
    font-family: "Zilla Slab", serif;
    margin: 0;

    @include themify($themes) {
        color: themed('MainText');
    }
}

a {
    text-decoration: none;
}
