$borderRadius: 6px;
$viewport: 1300px;

$DefaultGridGap: 20px;

$breakpoints: (
        xs: 32rem,
        sm: 57.5rem,
        md: 76.8rem,
        lg: 1025px,
        ws: 120rem,
        hd: 138rem,
        xl: 192rem
);