@import '../../resources/abstracts/mixins.scss';
@import '../../resources/abstracts/variables.scss';
@import '../../resources/abstracts/themes.scss';

.table {
    display: grid;
    grid-gap: 20px;

    .table-title {
        padding: 10px 5px 10px 46px;
        font-size: 14px;
        font-weight: bold;
        position: relative;

        @include themify($themes) {
            border-bottom: 1px solid themed('DividerDefault');
        }

        &:before {
            content: ' ';
            width: 10px;
            height: 1px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);

            @include themify($themes) {
                background: themed('MainText')
            }
        }
    }

    .table-item {
        display: grid;
        font-size: 14px;
        border-radius: $borderRadius;
        
        &.active {
            @include themify($themes) {
                background: themed('SecondaryBackground');
            }
        }

        .item-front {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 10px 14px;
            border-radius: $borderRadius;

            & * {
                @include themify($themes) {
                    //color: themed('AccentText');
                }
            }

            &:hover {
                @include themify($themes) {
                    background: themed('SecondaryBackground');
                }
            }

            span {
                font-size: 21px;
            }
        }

        .item-title {}
    }

    .table-items {
        margin-left: 20px;

        display: grid;
        font-size: 14px;


        &:empty {
            display: none;
        }
    }
}