@import '../../resources/abstracts/variables.scss';
@import '../../resources/abstracts/themes.scss';
@import '../../resources/abstracts/mixins.scss';

.navigation {
    width: 100%;
    height: fit-content;
    padding: 16px 2rem;

    z-index: 1000;

    position: relative;

    @include themify($themes) {
        background: themed('TertiaryBackground');
    }

    .navigation-inner {
        max-width: $viewport;
        width: 100%;
        height: fit-content;

        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        grid-gap: 40px;

        .navigation-items {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .navigation-search {
            flex: 1 1 80%;
        }

        .navigation-ctas {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 10px;

            .navigation-cta {
                height: 40px;
                padding: 0;
            }
        }
    }
}